main {
    max-width: 1000px;
    margin: auto;
    background-color: black;
    border-radius: 15px;
}
body {
    background-image: url(kepek/1148429.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fed90f;
}
h1 {
    text-align: center;
    padding: 5px;
}

img {
    max-width: 300px;
    padding: 2px;
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #838280;
}

article {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
}

ul {
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

a {
    color: #fed90f;
    text-decoration: none;
}

nav {
    background: #424f46;
}

footer {
    text-align: center;
    padding: 2px;
    background-color: #424F46;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}