body{
    background-image: url(kepek/c1cfe73a2707e36b0eca1aa1707e7a97.jpg);
    background-size: cover;
}

article{
    grid: flex;
    text-align: center;
}

iframe{
    border: 0px;
}

main{
    max-width: 1000px;
    margin: auto;
    background: black;
    color: #FED90F;
    border-radius: 15px;
}

ul{
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

a{
    color: #FED90F;
    text-decoration: none;
}

nav{
    background: #424F46;
}

footer{
    text-align: center;
    padding: 2px;
    background-color: #424F46;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

h1{
    text-align: center;
    padding: 5px;
}