body{
    background-image: url(kepek/c1cfe73a2707e36b0eca1aa1707e7a97.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
main{
    max-width: 1000px;
    margin: auto;
    background: black;
    color: #FED90F;
    border-radius: 15px;
}

ul{
    list-style-type: none;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

a{
    color: #FED90F;
    text-decoration: none;
}

nav{
    background: #424F46;
}

footer{
    text-align: center;
}