main{
    max-width: 1000px;
    margin: auto;
    background: #70D1FE;
    opacity: 0.8;
}

ul{
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
